.content {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  height: 5vh;
  border: 1px solid goldenrod;
  border-radius: 7px;
  cursor: pointer;
  background-color: #fff;
}
.content:hover {
  color: #f1f1f1;
  background-color: goldenrod;
}
.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label {
  cursor: pointer;
}
